<h1>Edit Supervisor</h1>

    <form [formGroup]="supervisorForm" (ngSubmit)="xeditSupervisor()">

    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <textarea type="text" matInput placeholder="First Name" formControlName="firstNameSuper"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <textarea type="text" matInput placeholder="Last Name" formControlName="lastNameSuper"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <select matNativeControl formControlName="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    </mat-form-field>
    <br>
    <div>
        <button type="submit" color="accent" mat-raised-button>Edit</button>
    </div>
    <br>
</form>