<h1>View Supervisors</h1>

<div class="supervisor-table mat-elevation-z8">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="idSuper">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let supervisor"> {{supervisor.idSuper}} </td>
        </ng-container>
        <ng-container matColumnDef="firstNameSuper">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
            <td mat-cell *matCellDef="let supervisor"> {{supervisor.firstNameSuper}} </td>
        </ng-container>
        <ng-container matColumnDef="lastNameSuper">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
            <td mat-cell *matCellDef="let supervisor"> {{supervisor.lastNameSuper}} </td>
        </ng-container>
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender</th>
            <td mat-cell *matCellDef="let supervisor"> {{supervisor.gender}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let supervisor">
                <button routerLink="editS/{{supervisor.idSuper}}" class="" mat-button color="warn">UPDATE</button>
                <button (click)="deleteSupervisor(supervisor.idSuper)" class="" mat-button color="warn">DELETE</button>
                <button routerLink="detailsS/{{supervisor.idSuper}}" class="" mat-button color="warn">DETAILS</button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[ 5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>