<mat-toolbar color="accent">
    <span class="app-title">Employee App</span>

    <div>
    <button mat-button [matMenuTriggerFor]="menu" class="menu">Employee</button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="">View Employee</button>
    <button mat-menu-item routerLink="add">Add Employee</button>
    </mat-menu>
    </div>

    <div>
    <button mat-button [matMenuTriggerFor]="menu1" class="menu">Supervisor</button>
    <mat-menu #menu1="matMenu">
    <button mat-menu-item routerLink="viewS">View Supervisor</button>
    <button mat-menu-item routerLink="addS">Add Supervisor</button>
    </mat-menu>
</div>

</mat-toolbar>