form{
    width: 50%;
    margin-left: 10%;
    margin-bottom: 5%;
}

mat-form-field{
    width: 100%;  
}

h1{
    margin-left: 10%;
    margin-top: 5%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: black;
    
}