
<h1>Employee Details</h1>

<div *ngIf="employeeDetails" class="card">
    <div>
      <label><b>First Name: </b></label> {{employeeDetails.firstName}}
    </div>
    <div>
      <label><b>Last Name: </b></label> {{employeeDetails.lastName}}
    </div>
    <div>
      <label><b>Gender: </b></label> {{employeeDetails.gender}}
    </div>
    <div>
        <label><b>Salary: </b></label> {{employeeDetails.salary}}
      </div>
      <div>
        <label><b>Resigned: </b></label> {{employeeDetails.resigned}}
      </div>
      <div>
        <label><b>Supervisor: </b></label> {{employeeDetails.supervisor.firstNameSuper}} {{employeeDetails.supervisor.lastNameSuper}}
      </div>
</div>


