<h1>Supervisor Details</h1> 


<div *ngIf="supervisorDetails" class="card">

  <div>
    <label><b>First Name: </b></label> {{supervisorDetails.firstNameSuper}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{supervisorDetails.lastNameSuper}}
  </div>
  <div>
    <label><b>Gender: </b></label> {{supervisorDetails.gender}}
  </div>

</div>

<div class="employee-table mat-elevation-z8">

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let employeeList"> {{employeeList.id}} </td>
        </ng-container>
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
            <td mat-cell *matCellDef="let employeeList"> {{employeeList.firstName}} </td>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
            <td mat-cell *matCellDef="let employeeList"> {{employeeList.lastName}} </td>
        </ng-container>
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender</th>
            <td mat-cell *matCellDef="let employeeList"> {{employeeList.gender}} </td>
        </ng-container>
        <ng-container matColumnDef="salary">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary</th>
            <td mat-cell *matCellDef="let employeeList"> {{employeeList.salary}} </td>
        </ng-container>
        <ng-container matColumnDef="resigned">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Resigned</th>
            <td mat-cell *matCellDef="let employeeList"> {{employeeList.resigned}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[ 5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
