.employee-table {
    width: 80%;
    margin-top: 5%;
    margin-left: 9%;
  }

  table{
      width: 100%;
      
  }
  h1, mat-form-field{
    margin-top: 3%;
    margin-left: 9%;
  }
  h1{
    margin-left: 10%;
    margin-top: 5%;
}


  mat-form-field{
      width: 80%;
  }

  .card{
      margin-left: 10%;
      font-size: 20px;
  }