<h1>Edit Employee</h1>

    <form [formGroup]="employeeForm" (ngSubmit)="xeditEmployee()">

    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <textarea type="text" matInput placeholder="First Name" formControlName="firstName"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <textarea type="text" matInput placeholder="Last Name" formControlName="lastName"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <select matNativeControl formControlName="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
      </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Salary</mat-label>
        <textarea type="text" matInput placeholder="Salary" formControlName="salary"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Resigned</mat-label>
        <select matNativeControl formControlName="resigned">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline">
        <mat-label>Supervisor</mat-label>
        <mat-select matNativeControl formControlName="supervisor">
          <mat-option *ngFor="let s of supervisors" value="{{s.idSuper}}">
            {{s.firstNameSuper}}  {{s.lastNameSuper}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <div>
        <button type="submit" color="accent" mat-raised-button>Edit</button>
    </div>
    <br>
</form>