.employee-table {
    width: 80%;
    margin-left: 9%;
  }

  table{
      width: 100%;
      
  }
  h1, mat-form-field{
    margin-top: 3%;
    margin-left: 9%;
  }

  mat-form-field{
      width: 80%;
  }